.banner
	.slider
		ul.slides
			li
				img(src='../images/banner.jpg')
				// random image
				.caption.left-align
					h3 John Falcón Malqui
					h5.light.grey-text.text-lighten-3 Desarrollador Front End
			li
				img(src='../images/banner2.jpg')
				// random image
				.caption.right-align
					h3 Dispositivos Móviles
					h5.light.grey-text.text-lighten-3 Movil - Tablet - Laptop - Desktop
