nav
	.nav-wrapper
		.row
			.col.s12
				a.brand-logo.left(href="")
					.logo
						span.line1
						span.line2
						span.line3
				ul.right.hide-on-med-and-down
					li
						a(href="sass.html") Quién Soy
					li
						a(href="badges.html") Skills
					li
						a(href="collapsible.html") Contacto