doctype html
html(lang='en')
  head
    title John Falcón Malqui
    // Compiled and minified CSS
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='../css/materialize.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/normalize.css')
    link(rel='stylesheet', href='../css/main.css')
    script(src='../js/materialize.min.js')
    script(src='../js/inicio.js')
  body
    include header
    include banner
    //- include inicio