doctype html
html(lang='en')
  head
    title John Falcón Malqui
    // Compiled and minified CSS
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='src/css/materialize.css')
    link(rel='stylesheet', href='src/css/font-awesome.min.css')
    link(rel='stylesheet', href='src/css/main.css')
    script(src='src/js/materialize.min.js')
    script(src='src/js/inicio.js')
  body
    include header
    include banner
    //- include inicio